table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th, td{
    padding: 10px;
}
th{
    background-color: rgb(255, 197, 182);
}
tr:nth-child(odd){
    background-color: rgb(255, 225, 248);
}
